<div class="row">
    <div class="col-md-12">
        <h1>수어어어업</h1>
        <form method="POST" action="/posts/create">
          <div class="form-group">
            <label>글 제목</label>
            <input type="text" class="form-control"  name="title" placeholder="글 제목을 입력하세요">
          </div>
          <div class="form-group">
            <label>작성자 이름</label>
            <input type="text" class="form-control" name="user_name" placeholder="작성자 이름을 입력하세요">
          </div>
          <div class="form-group">
              <label>내용</label>
              <textarea name="content" class="form-control" rows="3"></textarea>
          </div>
          <input type="submit" class="btn btn-default"><a href="/posts/index" class="btn btn-default">돌아가기</a>
        </form>
        
    </div>
</div>