<div class="row">
    <div class="col-md-12">
        <h1>뉴비톤!! 디버깅<small>show.html.erb</small></h1>
        <div class="panel panel-default">
          <div class="panel-heading"><%= @post.title %> 작성자 : <%= @post.user_name %></div>
          <div class="panel-body">
            <%= @post.content %>
          </div>
        </div>
        <a href="/posts/index" class="btn btn-default">돌아가기</a>
    </div>
</div>