<div class="row">
    <div class="col-md-12">
        <h1>05_16_수업</h1>
        <div class="panel panel-default">
          <div class="panel-heading"><%= @post.title %> 작성자 : <%= @post.user_name %></div>
          <div class="panel-body">
            <%= @post.content %>
          </div>
        </div>
        <a href="/" class="btn btn-default">돌아가기</a>
    </div>
</div>